<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zxy.mapper.PersonMapper">
    <select id="selectPersonById" parameterType="int"
            resultMap="personMapper">
        SELECT * from tb_person where id = #{id}
    </select>

    <resultMap id="personMapper" type="org.zxy.domain.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <association property="card" column="card_id"
                     select="org.zxy.mapper.CardMapper.selectCardById" javaType="org.zxy.domain.Card"/>
    </resultMap>
</mapper>