<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="org.zxy.mapper.UserMapper">

    <!--
        id="save"是唯一的标示符
        parameterType属性指明插入时使用的参数类型
        useGeneratedKeys="true"表示使用数据库的自动增长策略
     -->
    <insert id="saveUser" parameterType="org.zxy.domain.User" useGeneratedKeys="true"  keyProperty="id">
  	INSERT INTO TB_USER(name,sex,age)
  	VALUES(#{name},#{sex},#{age})
    </insert>
    <select id="selectUser" parameterType="int" resultType="org.zxy.domain.User">
        SELECT * FROM TB_USER WHERE id=#{id}
    </select>
    <update id="modifyUser" parameterType="org.zxy.domain.User">
  	UPDATE TB_USER
  	SET name = #{name},sex = #{sex},age = #{age}
  	WHERE id = #{id}
    </update>
    <delete id="removeUser" parameterType="int">
  	DELETE FROM TB_USER WHERE id = #{id}
   </delete>
    <resultMap id="studentResultMap" type="org.zxy.domain.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <association property="clazz" column="clazz_id" javaType="org.zxy.domain.Clazz"
                     select="selectStudentWithId"/>
    </resultMap>
    <!-- 根据班级id查询班级 -->
    <select id="selectClazzWithId" resultType="org.fkit.domain.Clazz">
  	SELECT * FROM TB_CLAZZ where id = #{id}
    </select>

    <!-- 查询所有学生信息 -->
    <select id="selectStudent" resultMap="studentResultMap">
  	SELECT * FROM TB_STUDENT
	</select>
	
    <select id="selectUserMap" resultType="map">
        SELECT * FROM TB_USER
    </select>

</mapper>