<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- spring可以自动去扫描base-pack下面的包或者子包下面的java文件，
        如果扫描到有Spring的相关注解的类，则把这些类注册为Spring的bean -->
	<context:component-scan base-package="org.controller"/>

	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler/>

	<!-- 设置配置方案 -->
	<mvc:annotation-driven>
		<!-- 设置不使用默认的消息转换器 -->
		<mvc:message-converters register-defaults="false">
			<!-- 配置Spring的转换器 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
			<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
			<bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
			<!-- 配置fastjson中实现HttpMessageConverter接口的转换器 -->
			<bean id="fastJsonHttpMessageConverter"
				  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<!-- 加入支持的媒体类型：返回contentType -->
				<property name="supportedMediaTypes">
					<list>
						<!-- 这里顺序不能反，一定先写text/html,不然ie下会出现下载提示 -->
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 视图解析器  p:prefix属性表示前缀  p:suffix 表示后缀  -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:prefix="/WEB-INF/content/" p:suffix=".jsp"/>

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"
          p:defaultErrorView="error"
          p:exceptionAttribute="ex">
        <!-- 异常映射
            exceptionMappings表示映射的异常，接受参数是一个Properties
            key是异常类名，value是处理异常的页面
        -->
        <property name="exceptionMappings">
            <props>
                <prop key="IOException">ioerror</prop>
                <prop key="SQLException">sqlerror</prop>
            </props>
        </property>
    </bean>

	<!-- 国际化 p:basenames属性用于指定国际化资源文件名 -->
	<bean id="messageSource"
		  class="org.springframework.context.support.ResourceBundleMessageSource"
		  p:basenames="message"/>

	<mvc:interceptors>
		<!-- 国际化操作拦截器 如果采用基于（Session/Cookie）则必需配置 -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<!-- AcceptHeaderLocaleResolver 配置,因为AcceptHeaderLocaleResolver是默认语言区域解析器，不配置也可以  -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />

</beans>